@media screen and (max-width: 502px) {
  #imgInHeaderRight, #devBanner, .bannerDiv, #date {
    display: none; }

  header {
    height: 3em; }

  #imgInHeader {
    height: 70%; }

  #cheatImg, #fswdKlein {
    display: block !important; }

  #phone {
    display: none; }

  #topPart .articleContainer div:not(#popular) {
    width: 49% !important; }

  .articleContainer {
    width: 99% !important; }

  .articleContainer div {
    margin-bottom: 2%; }

  .articleContainer p {
    font-size: 2.5vw !important; } }
@media only screen and (min-width: 503px) and (max-width: 1000px) {
  #date, #fswdKlein, #popular, .bannerDiv {
    display: none; }

  header {
    height: 5em; }

  #imgInHeader {
    height: 70%; }

  #cheatImg {
    display: block !important; }

  #phone {
    display: none; }

  #topPart .articleContainer div:not(#popular) {
    width: 49% !important; }

  .articleContainer {
    width: 99% !important; }

  .articleContainer div {
    margin-bottom: 2%; }

  .articleContainer p {
    font-size: 2.5vw !important; } }
body {
  font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica;
  margin: 0;
  padding: 0; }

header:not(#nav) {
  background-color: #5D191B; }

#imgInHeader {
  display: flex;
  align-items: center;
  justify-content: space-around; }

#imgInHeaderLeft {
  width: 40%; }

#CFlogo {
  max-width: 50%;
  min-width: 40%;
  padding-left: 5%;
  text-align: left; }

#imgInHeaderRight {
  width: 60%;
  text-align: right; }

#CodeFactory {
  max-width: 70%;
  min-width: 50%;
  padding: 2%;
  padding-right: 5%; }

#nav {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background-color: #1A1A1A;
  padding: 0;
  overflow: hidden; }

#navUL, #navULfooter {
  padding-left: 2%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row; }

.navLI {
  margin-right: 5%;
  list-style-type: none;
  padding-top: 2%;
  padding-bottom: 2%; }

nav a:hover, footer a:hover {
  background-color: #5D191B; }

.navA {
  color: white;
  text-decoration: none;
  font-size: 2vw; }

main {
  max-width: 90%;
  margin: auto; }

img {
  width: 100%;
  height: auto; }

#date {
  position: relative;
  max-width: 90%;
  margin: auto;
  text-align: right; }

#content p {
  background-color: #1A1A1A;
  color: white;
  margin: 0;
  bottom: 0;
  padding-top: 3%;
  padding-left: 1%;
  position: absolute;
  width: 99%; }

.generalTitles {
  background-color: #DDDDDD;
  color: #595959;
  font-size: 2.3vw;
  width: 99%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding-left: 1%;
  padding-bottom: 0.5%;
  max-height: 1em; }

#popular {
  width: 100%;
  height: 10%; }

#devBanner {
  margin: 20px auto;
  width: 85%; }

#VERTbanner2 {
  background-image: url("../img/banner-2.png"); }

.bannerDiv {
  width: 10%;
  min-height: 100%;
  max-height: 100%; }
  .bannerDiv img {
    height: 100%; }

#topPart, #bottomPart {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%; }

#topPart p {
  min-height: 25%;
  font-size: 1.5vw; }

#bottomPart p {
  height: 20%;
  font-size: 1.8vw; }

.articleContainer {
  width: 88%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

#cheatImg, #fswdKlein {
  display: none; }

#phone, #power {
  margin-bottom: 2%; }

#topPart .articleContainer div, #bottomPart .articleContainer div {
  position: relative; }

#topPart .articleContainer div:not(#popular) {
  width: 32%; }

#bottomPart .articleContainer div {
  width: 49%; }

.articleContainer div img {
  height: 100%; }

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #1A1A1A;
  padding: 0;
  overflow: hidden;
  color: white;
  margin-top: 3%; }

#footerNAV {
  display: flex;
  padding-top: 1%; }

#imgInFOOTERright {
  display: flex;
  justify-content: flex-end; }

#CFlogo2 {
  max-width: 20%;
  min-width: 15%;
  padding-right: 5%;
  align-self: flex-end; }

#copyRight {
  align-self: center;
  font-size: 1.5vw; }

/*# sourceMappingURL=stylesheet.css.map */
